OKX_API_KEY=
OKX_SECRET=
OKX_PASSWORD=
SYMBOL=ETH/USDT
BASE_BUY_USDT=1
TP_PCT=0.01
DD_PCT=0.03
POLL_SEC=30
TIMEZONE=UTC
DRY_RUN=true
OKX_TESTNET=false
SIMULATED_ENV=false
ORDER_TYPE=market
LIMIT_SLIPPAGE_PCT=0.0005
RESET_STATE_ON_START=false
HTTP_PROXY=
HTTPS_PROXY=
TIMEOUT_MS=10000

# sigma
SIGMA_BUY_BASE_ETH=0.000003
SIGMA_MAX_ADDS=100
SIGMA_BUY_COOLDOWN_SEC=180
SIGMA_BUY_PRICE_DROP_PCT=0.0025
SIGMA_SELL_PROFIT_PCT=0.01
SIGMA_SELL_LEAVE_BASE_ETH=0.000003
SIGMA_MACD_TIMEFRAME=1m
